<!-- NAV -->
<nav class="navbar navbar-expand-md navbar-light py-4">
  <div class="container">
    <a href="{{ site.baseurl }}/" class="navbar-brand">
      <img src="/assets/images/logo_mc.png" width="40" height="40" class="d-inline-block align-top" alt="">
      <h3 class="d-inline align-left text-primary">Mastering Code</h3>
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="{{ site.baseurl }}/events" class="nav-link">Eventi</a>
        </li>
        <li class="nav-item">
          <a href="{{ site.baseurl }}/channels/" class="nav-link">Canali</a>
        </li>
        <li class="nav-item">
          <a href="{{ site.baseurl }}/initiatives/" class="nav-link">Collaborazioni</a>
        </li>
        <li class="nav-item">
          <a href="{{ site.baseurl }}/about/" class="nav-link">Chi siamo</a>
        </li>
      </ul>
    </div>
  </div>
</nav>